
.footer {
    background-color: #0000009c;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .social-media {
    display: flex;
    align-items: center;
  }
  
  .social-icon {
    font-size: 24px;
    transition: color 0.3s ease;
  }
  
  .social-icon:hover {
    color: #ddd;
  }
  
  .legal a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .contact-info p {
    margin: 5px 0;
  }
  