
.brandnameletter
{
  color: black;
  font-size: 40px;
  text-indent: 10px;
  font-weight: bold;
}
.brandnameletter::first-letter {

  color: red;
  font-size: 45px;
  text-indent: 10px;
  font-weight: bold;
}


.vid
{
padding: auto;
height: 100vh;
weight:1000px;
top: 0;
size-adjust: cover;
position: fixed;
z-index: -1;
}

.big-container
{
  height: 100vh;
}

.container{
    height: 100vh;
}
.form{
    width: 575px;
    height: fill;
    padding: 25px;
    background-color: white;
    border: none;
    float: right;

}


.form .field{
    position: relative;
    height: 40px;
    margin-top: 15px;
    border-radius: 6px;
}
.field input
{
    width: 350px;
    font-weight: 400;
    border: none;
    height: 100%;
    
}

.sign-form
{
    border: none;
}
.field button{
    height: 100%;
    width: 250px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    position: relative;
    outline: none;
    padding: 0 8px;
    border: 1px solid#CACACA;
    right: 9px;
    
}
.field input:focus{
    border-bottom-width: 1px;
}
.field button{
    color: #fff;
    background-color:black;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: rgb(43, 40, 40);
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a{
    color: #0171d3;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 20px 0;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}

a{
    text-decoration: none;
    color: #fff;
    
}

.display
{
    width:100%;
    margin-top: 2px;
    
}

.display p{

    color: red;
}

.title h1{
    position: relative;
    top: 45px;
    right: 5px;
}

.password-input-login {
    position: relative;
    width: 345px;
    margin-right: 80px;
    padding: auto;

    margin-left: 60px;
}

  .password-toggle-login {
      position: absolute;
      top: 25%;
    right: 10px;
    transform: translateX(+130%);
    border: none;
    background: transparent;
    cursor: pointer;
  }
  